<section>
  <div class="container fluid">
     <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="images/home-banner.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="../../images/custom-banner.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="../../images/mac-halloween.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="../../images/turtles.png"></a>
        <a class="carousel-item" href="#five!"><img src="../../images/portfolio-sample.jpg"></a>
      </div>
  </div>
</section>