<section>
  <div class="container fluid">
     <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="images/home-banner.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="../../images/custom-banner.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="../../images/mac-halloween.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="../../images/turtles.png"></a>
        <a class="carousel-item" href="#five!"><img src="../../images/portfolio-sample.jpg"></a>
      </div>
  </div>
  <div class="fixed-action-btn">
    <a id="menu" class="btn btn-floating btn-large blurb-target"><i class="material-icons">stars</i></a>
  </div>
  <a class="waves-effect waves-light btn blurb">Hire Us!</a>
  <!-- Tap Target Structure -->
  <div class="tap-target" data-activates="menu">
    <div class="tap-target-content">
      <h5>Like what you see?</h5>
      <p>Contact us by calling <a href="tel:9493956650">949-395-6650</a> or learning more <a href="/contact">here</a>.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="center-align">Web Development & Design</h1>
      <p>Madero Web Design's "bread and butter" so to speak. We help our clients find a custom solution for their websites! Specializing in the following web development languages and frameworks: HTML, CSS, JavaScript, Angular, jquery, Node, less.js, Express, and many more; we give our customers what the "build it yourself" sites cannot!</p>
      <p>Find an image to fit in this section!</p>
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <h1 class="center-align">Graphic Design</h1>
        <p>Having experience with the full Adobe Suite, we offer graphic design work that could be used for initial development of a website, banners, web ads, you name it! We can accommodate any of our clients demands!</p>
        <p>Find an image to fit in this section!</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="center-align">Consulting</h1>
      <p>With a background in project management and years working as a full stack developer, we can offer our consulting services to help reshape your website, give you design concepts for upcoming marketing campaigns, graphic & web design ideas and so much more. Contact Madero Web Design today to learn <a href="/contact">more</a>!</p>
      <p>Find an image to fit in this section!</p>
    </div>
  </div>
</section>