<section>
  <div class="container fluid">
     <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="images/home-banner.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="../../images/custom-banner.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="../../images/mac-halloween.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="../../images/turtles.png"></a>
        <a class="carousel-item" href="#five!"><img src="../../images/portfolio-sample.jpg"></a>
      </div>
  </div>
  <div class="fixed-action-btn">
    <a id="menu" class="btn btn-floating btn-large blurb-target"><i class="material-icons">stars</i></a>
  </div>
  <a class="waves-effect waves-light btn blurb">Hire Us!</a>
  <!-- Tap Target Structure -->
  <div class="tap-target" data-activates="menu">
    <div class="tap-target-content">
      <h5>Like what you see?</h5>
      <p>Contact us by calling <a href="tel:9493956650">949-395-6650</a> or learning more <a href="/contact">here</a>.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="center-align">Web Development & Design</h1>
      <p>Madero Web Design is extensive in style, clients and types of projects. With specialties in editorial design, publishing, events and media, there is no project that is too big or too small.</p>
      <p>Here at MWD, the 'think mobile first' mentality is always used when starting a project. Nowadays, every business should be thinking about the end user viewing their site from a mobile device and the projects we work on always start by being built from the ground up as a fully responsive site. This will allow much more flexibility for your business as you can scale between a full sized desktop site all the way down to a mobile device and anything in between!</p>
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <h1 class="center-align">Graphic Design</h1>
        <p>Having experience with the full Adobe Suite, we offer graphic design work that could be used for initial development of a website, banners, web ads, you name it! We can accommodate any of our clients demands!</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="center-align">Consulting</h1>
    <div class="row">
    </div>
  </div>
</section>