<section>
  <div class="parallax-container">
    <div class="parallax">
      <img class="responsive-img" src="images/home-banner.jpg"/>
    </div>
  </div>
  <div class="fixed-action-btn scroll-show">
    <a id="menu" class="btn btn-floating btn-large blurb-target scroll-show"><i class="material-icons">contact_mail</i></a>
  </div>
  <a class="waves-effect waves-light btn blurb scroll-show">Hire Us!</a>
  <!-- Tap Target Structure -->
  <div class="tap-target" data-activates="menu">
    <div class="tap-target-content">
      <h5>Like what you see?</h5>
      <p>Contact us by calling <a href="tel:9493956650">949-395-6650</a> or send us a message <a href="/contact">here</a>.</p>
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <h1 class="center-align">An Expanding Business</h1>
        <div class="col s12 m7">
          <p>Kevin England founded Madero Web Design Inc. in 2017 and has been working in the web development industry for over 5 years and counting. With a background in front-end web development, graphic design, project management, consulting and an extensive background in business administration/marketing, Madero Web Design can offer you a way to make your business even more relevant in this ever changing technology driven world.</p>
        </div>
        <div class="col s12 m5">
          <img class="responsive-img" src="images/selfies-distorted.jpg"/>
        </div>
        <br/>
        <div class="col s12">
          <p>If you would like to learn more about how we can help you or your growing business, click <a href="/contact">here</a> to contact us directly!</p>
          <p class="center-align"><a class="social-icons" target="_blank" href="https://www.facebook.com/maderoweb"><i class="fa fa-facebook-official" aria-hidden="true"></i></a><a class="social-icons" target="_blank" href="https://www.instagram.com/madero_web/"><i class="fa fa-instagram" aria-hidden="true"></i></a><a class="social-icons" target="_blank" href="https://www.linkedin.com/company/madero-web-design-inc/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a><a class="social-icons" target="_blank" href="https://twitter.com/Madero_Web"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container hide-on-small-only">
    <div class="parallax">
      <img class="responsive-img" src="images/home-banner.jpg"/>
    </div>
  </div>
</section>