<section class="services">
  <div class="fixed-action-btn">
    <a id="menu" class="btn btn-floating btn-large blurb-target"><i class="material-icons">stars</i></a>
  </div>
  <a class="waves-effect waves-light btn blurb">Hire Us!</a>
  <!-- Tap Target Structure -->
  <div class="tap-target" data-activates="menu">
    <div class="tap-target-content">
      <h5>Like what you see?</h5>
      <p>Contact us by calling <a href="tel:9493956650">949-395-6650</a> or learning more <a href="/contact">here</a>.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="center-align top-title">Web Development & Design</h1>
      <div class="col s12 m9">
        <p>Specializing in the following web development languages and frameworks: HTML, CSS, JavaScript, Angular, jquery, Node, less.js, Express, and many more; we give our customers what the "build it yourself" sites cannot! Here at MWD, the 'think mobile first' mentality is always used when starting a project. We will build your site from the ground up with the best responsive design solutions available.</p>
        <p>We also have tons of experience with CMS platforms such as Wordpress, Shopify, Drupal and many more and can even give your business a custom solution using these programs!</p>
      </div>
      <div class="col s12 m3 right-align">
        <img class="responsive-img" src="../../images/web-dev.png">
      </div>
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <h1 class="center-align">Graphic Design</h1>
        <div class="col s12 m3 left-align">
          <img class="responsive-img" src="../../images/graphic-design.png">
        </div>
        <div class="col s12 m9">
          <p>Our experience in graphic design includes using the full Adobe Suite, as we can offer graphic design work that can be used for initial development of a website, wireframing, custom banners, web ads, and so much more! We can accommodate any of our clients demands and provide custom graphics for any requests made.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="center-align">Consulting</h1>
      <div class="col s12 m9">
        <p>Madero Web Design has a background in project management and years of experience in full stack development. With the knowledge and skills we offer, our consulting services can help reshape your your existing website, help visualize a brand new website, give you design concepts for upcoming marketing campaigns, graphic & web design ideas, email campaigns and so much more.</p>
      </div>
      <div class="col s12 m3 right-align">
        <img class="responsive-img" src="../../images/consulting.png">
      </div>
    </div>
  </div>
</section>