<section>
  <div class="container fluid">
    <img class="responsive-img hide-on-small-only" src="../../images/custom-banner.jpg">
  </div>
  <div class="fixed-action-btn">
    <a id="menu" class="btn btn-floating btn-large blurb-target"><i class="material-icons">stars</i></a>
  </div>
  <a class="waves-effect waves-light btn blurb">Hire Us!</a>
  <!-- Tap Target Structure -->
  <div class="tap-target" data-activates="menu">
    <div class="tap-target-content">
      <h5>Like what you see?</h5>
      <p>Contact us by calling <a href="tel:9493956650">949-395-6650</a> or learning more <a href="/contact">here</a>.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="center-align">Madero Web Design is all about style!</h1>
      <div class="col s12 center-align">
        <p>Madero Web Design is extensive in style, responsive design and types of projects. With specialties in web & graphic design, web development, content management systems (CMS programs like Wordpress, Drupal, Shopify, etc.), email campaigns and social media, there is no project that is too big or too small.</p>
        <p>Here at MWD, the 'think mobile first' mentality is always used when starting a project. Nowadays, every business should be thinking about the end user viewing their site from a mobile device and the projects we work on always start by being built from the ground up as a fully responsive site. This will allow much more flexibility for your business as you can scale between a full sized desktop site all the way down to a mobile device and anything in between!</p>
      </div>
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <h1 class="center-align">What We Offer</h1>
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Web Development & Design</div>
            <div class="collapsible-body"><span>Madero Web Design's "bread and butter" so to speak. We help our clients find a custom solution for their websites! Specializing in the following web development languages and frameworks: HTML, CSS, JavaScript, Angular, jquery, Node, less.js, Express, and many more; we give our customers what the "build it yourself" sites cannot! We also have tons of experience with CMS platforms such as Wordpress, Shopify, Drupal and many more and can even give your business a custom solution using these programs!</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">graphic_eq</i>Graphic Design</div>
            <div class="collapsible-body"><span>Having experience with the full Adobe Suite, we offer graphic design work that could be used for initial development of a website, banners, web ads, you name it! We can accommodate any of our clients demands!</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">account_circle</i>Consulting</div>
            <div class="collapsible-body"><span>With a background in project management and years working as a full stack developer, we can offer our consulting services to help reshape your website, give you design concepts for upcoming marketing campaigns, graphic & web design ideas, email campaigns and so much more. Contact Madero Web Design today to learn <a href="/contact">more</a>!</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
  <h1 class="center-align">Clients</h1>
    <div class="row">
      <div class="col s12">
        <p>We take pride in who we work with and strive to build a solid foundation from the very beginning. Madero Web Design looks to create strong, long lasting relationships with all of our clients and partners, and offer support for each long after any project may have ended. These are a few of our proud clients with many more to come!</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4 center-align margin-bottom-md">
        <img class="responsive-img" src="../../images/lr-logo.png">
      </div>
      <div class="col s12 m4 center-align margin-bottom-md">
        <img class="responsive-img" src="../../images/thetpsfamily-logo.png">
      </div>
      <div class="col s12 m4 center-align margin-bottom-md">
        <img class="responsive-img" src="../../images/Cabinets-Fast-4U-Inc.png">
      </div>
    </div>
  </div>
</section>
