<section>
  <div class="container fluid">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="../../images/custom-banner.jpg">
        </li>
        <li>
          <img src="../../images/mac-halloween.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="../../images/turtles.png"> <!-- random image -->
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="../../images/portfolio-sample.jpg"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a id="menu" class="btn btn-floating btn-large blurb-target"><i class="material-icons">menu</i></a>
  </div>
  <a class="waves-effect waves-light btn blurb">Hire Us!</a>
  <!-- Tap Target Structure -->
  <div class="tap-target" data-activates="menu">
    <div class="tap-target-content">
      <h5>Like what you see?</h5>
      <p>Contact us by calling <a href="tel:9493956650">949-395-6650</a> or emailing us <a href="mailto:kevin@mwd.com">here</a>.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="center-align">Madero Web Design is all about style!</h1>
      <p>Madero Web Design is extensive in style, clients and types of projects. With specialties in editorial design, publishing, events and media, there is no project that is too big or too small.</p>
      <p>NEXT STEPS: CREATE MISSION STATEMENT AND PUT IT SOMEWHERE IN MY SITE & ALSO ADD CONTENT DISCUSSING MY VISION TO THINK MOBILE FIRST ALWAYS WHEN CREATING A WEBSITE IN TODAY'S ENVIRONMENT AND WHY I CHOSE MATERIALIZE AS A FRAMEWORK</p>
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <h1 class="center-align">What We Offer</h1>
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Web Development & Design</div>
            <div class="collapsible-body"><span>Madero Web Design's "bread and butter" so to speak. We help our clients find a custom solution for their websites! Specializing in the following web development languages and frameworks: HTML, CSS, JavaScript, Angular, jquery, Node, less.js, Express, and many more; we give our customers what the "build it yourself" sites cannot!</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">graphic_eq</i>Graphic Design</div>
            <div class="collapsible-body"><span>Having experience with the full Adobe Suite, we offer graphic design work that could be used for initial development of a website, banners, web ads, you name it! We can accommodate any of our clients demands!</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">account_circle</i>Consulting</div>
            <div class="collapsible-body"><span>With a background in project management and years working as a full stack developer, we can offer our consulting services to help reshape your website, give you design concepts for upcoming marketing campaigns, graphic & web design ideas and so much more. Contact Madero Web Design today to learn <a href="/contact">more</a>!</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="center-align">Portfolio</h1>
    <div class="row">
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img class="responsive-img" src="../../images/portfolio-sample.jpg"/>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img class="responsive-img" src="../../images/turtles.png"/>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img class="responsive-img" src="../../images/portfolio-sample.jpg"/>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">View</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card horizontal">
          <div class="card-image">
            <img class="responsive-img" src="../../images/turtles.png"/>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <a href="#">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <h1 class="center-align">Madero Web Design is all about style!</h1>
        <p>Madero Web Design is extensive in style, clients and types of projects. With specialties in editorial design, publishing, events and media, there is no project that is too big or too small.</p>
        <p>NEXT STEPS: CREATE MISSION STATEMENT AND PUT IT SOMEWHERE IN MY SITE</p>
      </div>
    </div>
  </div>
</section>