<section>
      <div class="container fluid">
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="../../images/custom-banner.jpg"> <!-- random image -->
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <img src="../../images/mac-halloween.jpg"> <!-- random image -->
              <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <img src="../../images/turtles.png"> <!-- random image -->
              <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
            <li>
              <img src="../../images/portfolio-sample.jpg"> <!-- random image -->
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <h1 class="center-align">Madero Web Design is all about style!</h1>
          <p>Madero Web Design is extensive in style, clients and types of projects. With specialties in editorial design, publishing, events and media, there is no project that is too big or too small.</p>
          <p>NEXT STEPS: CREATE MISSION STATEMENT AND PUT IT SOMEWHERE IN MY SITE & ALSO ADD CONTENT DISCUSSING MY VISION TO THINK MOBILE FIRST ALWAYS WHEN CREATING A WEBSITE IN TODAY'S ENVIRONMENT AND WHY I CHOSE MATERIALIZE AS A FRAMEWORK</p>
          <div class="fixed-action-btn">
            <a id="menu" class="btn btn-floating btn-large blurb-target"><i class="material-icons">menu</i></a>
          </div>
          <a class="waves-effect waves-light btn blurb">Learn More</a>
          <!-- Tap Target Structure -->
          <div class="tap-target" data-activates="menu">
            <div class="tap-target-content">
              <h5>Like what you see?</h5>
              <p>Contact us by calling <a href="tel:9493956650">949-395-6650</a> or emailing us <a href="mailto:kevin@mwd.com">here</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <h1 class="center-align">Madero Web Design is all about style!</h1>
          <p>Madero Web Design is extensive in style, clients and types of projects. With specialties in editorial design, publishing, events and media, there is no project that is too big or too small.</p>
          <p>NEXT STEPS: CREATE MISSION STATEMENT AND PUT IT SOMEWHERE IN MY SITE</p>
        </div>
      </div>
    </section>