<div class="navbar-fixed">
  <nav class="madero-nav">
    <div class="container">
      <div class="row">
        <div class="nav-wrapper">
          <a href="/"><img class="responsive-img nav-logo" src="images/madero-full-logo.png"/></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/about">About</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<ul class="side-nav" id="mobile-demo">
  <li class="side-nav-title">Menu</li>
  <li><a href="/about">About</a></li>
  <li><a href="/portfolio">Portfolio</a></li>
  <li><a href="/clients">Clients</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a class="side-nav-close">Close</a></li>
</ul>