<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 center-align">
        <h1>Clients</h1>
        <p>Meet our clients and learn about some of the projects we have worked on so far. NEXT STEPS: CREATE MISSION STATEMENT AND PUT IT SOMEWHERE IN MY SITE & ALSO ADD CONTENT DISCUSSING MY VISION TO THINK MOBILE FIRST ALWAYS WHEN CREATING A WEBSITE IN TODAY'S ENVIRONMENT AND WHY I CHOSE MATERIALIZE AS A FRAMEWORK</p>
      </div>
    </div>
  </div>
  <div id="tps" class="block tps">
    <nav class="pushpin pin-top" data-target="tps" style="top: 0px;">
      <div class="nav-wrapper">
        <div class="container">
          <a class="client">TPS</a>
        </div>
      </div>
    </nav>
    <img class="responsive-img" src="images/selfies-distorted.jpg"/>
    <img class="responsive-img" src="images/selfies-distorted.jpg"/>
    <img class="responsive-img" src="images/selfies-distorted.jpg"/>
  </div>

  <div id="cf4u" class="block cf4u">
    <nav class="pushpin pin-top" data-target="cf4u" style="top: 0px;">
      <div class="nav-wrapper">
        <div class="container right-align">
          <a class="client">Cabinets Fast 4U</a>
        </div>
      </div>
    </nav>
    <img class="responsive-img" src="images/selfies-distorted.jpg"/>
    <img class="responsive-img" src="images/selfies-distorted.jpg"/>
    <img class="responsive-img" src="images/selfies-distorted.jpg"/>
  </div>

  <div id="l-r" class="block l-r">
    <nav class="pushpin pin-top" data-target="l-r" style="top: 0px;">
      <div class="nav-wrapper">
        <div class="container">
          <a class="client">Legendary & Rose</a>
        </div>
      </div>
    </nav>
    <img class="responsive-img" src="images/selfies-distorted.jpg"/>
    <img class="responsive-img" src="images/selfies-distorted.jpg"/>
    <img class="responsive-img" src="images/selfies-distorted.jpg"/>
  </div>
</section>