<section>
  <div class="parallax-container">
    <div class="parallax">
      <img class="responsive-img" src="images/home-banner.jpg"/>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="center-align">Madero Web Design is all about style!</h1>
      <p>Madero Web Design is extensive in style, clients and types of projects. With specialties in editorial design, publishing, events and media, there is no project that is too big or too small.</p>
      <p>NEXT STEPS: CREATE MISSION STATEMENT AND PUT IT SOMEWHERE IN MY SITE & ALSO ADD CONTENT DISCUSSING MY VISION TO THINK MOBILE FIRST ALWAYS WHEN CREATING A WEBSITE IN TODAY'S ENVIRONMENT AND WHY I CHOSE MATERIALIZE AS A FRAMEWORK</p>
      <div class="fixed-action-btn">
        <a id="menu" class="btn btn-floating btn-large blurb-target"><i class="material-icons">menu</i></a>
      </div>
      <a class="waves-effect waves-light btn blurb">Learn More</a>
      <!-- Tap Target Structure -->
      <div class="tap-target" data-activates="menu">
        <div class="tap-target-content">
          <h5>Like what you see?</h5>
          <p>Contact us by calling <a href="tel:9493956650">949-395-6650</a> or emailing us <a href="mailto:kevin@mwd.com">here</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <img class="responsive-img" src="images/selfies-distorted.jpg"/>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="center-align">Madero Web Design is all about style!</h1>
      <p>Madero Web Design is extensive in style, clients and types of projects. With specialties in editorial design, publishing, events and media, there is no project that is too big or too small.</p>
      <p>NEXT STEPS: CREATE MISSION STATEMENT AND PUT IT SOMEWHERE IN MY SITE</p>
    </div>
  </div>
  <div class="parallax-container hide-on-small-only">
    <div class="parallax">
      <img class="responsive-img" src="images/home-banner.jpg"/>
    </div>
  </div>
</section>