<section>
  <div class="container fluid">
    <img class="responsive-img madero-home-title" src="../../images/custom-banner.jpg">
  </div>
  <div class="fixed-action-btn scroll-show">
    <a id="menu" class="btn btn-floating btn-large blurb-target scroll-show"><i class="material-icons">contact_mail</i></a>
  </div>
  <a class="waves-effect waves-light btn blurb scroll-show">Hire Us!</a>
  <!-- Tap Target Structure -->
  <div class="tap-target" data-activates="menu">
    <div class="tap-target-content">
      <h5>Like what you see?</h5>
      <p>Contact us by calling <a href="tel:9493956650">949-395-6650</a> or send us a message <a href="/contact">here</a>.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="center-align">Madero Web Design is Stylin'!</h1>
      <div class="col s12">
        <p>Madero Web Design is extensive in style, responsive design and types of projects. With specialties in web & graphic design, web development, content management systems (CMS programs like Wordpress, Drupal, Shopify, etc.), email campaigns and social media, there is no project that is too big or too small.</p>
        <p>Here at MWD, the 'think mobile first' mentality is always used when starting a project. Nowadays, every business should be thinking about the end user viewing their site from a mobile device and the projects we work on always start by being built from the ground up as a fully responsive site. This will allow much more flexibility for your business as you can scale between a full sized desktop site all the way down to a mobile device and anything in between!</p>
        <p>The site you are viewing was created as a fully responsive website for desktop and mobile using Angular CLI and the Materialize framework. Reach out to us if you would like to learn more about a custom solution that works for you or your business today!</p>
      </div>
    </div>
  </div>
  <div class="bg-primary">
    <div class="container">
      <div class="row">
        <h1 class="center-align">What We Offer</h1>
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>Web Development & Design</div>
            <div class="collapsible-body"><span>Madero Web Design's "bread and butter" so to speak. We help our clients find a custom solution for their websites! Specializing in the following web development languages and frameworks: HTML, CSS, JavaScript, Angular CLI, jquery, less.js, Node, Express, Bootstrap, Materialize and many more; we give our customers what the "build it yourself" sites cannot! We also have tons of experience with CMS platforms such as Wordpress, Shopify, Drupal and many more and can even give your business a custom solution using these programs!</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">graphic_eq</i>Graphic Design</div>
            <div class="collapsible-body"><span>Having experience with the full Adobe Suite, we offer graphic design work that could be used for initial development of a website, banners, web ads, you name it! We can accommodate any of our clients demands!</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">account_circle</i>Consulting</div>
            <div class="collapsible-body"><span>With a background in project management and years working as a full stack developer, we can offer our consulting services to help reshape your website, give you design concepts for upcoming marketing campaigns, graphic & web design ideas, email campaigns and so much more. Contact Madero Web Design today to learn <a href="/contact">more</a>!</span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
  <h1 class="center-align">Clients</h1>
    <div class="row">
      <div class="col s12">
        <p>We take pride in who we work with and strive to build a solid foundation from the very beginning. Madero Web Design looks to create strong, long lasting relationships with all of our clients and partners, and offer support long after any project may have ended. These are a few of our proud clients with many more to come!</p>
      </div>
    </div>
    <div class="row logos">
      <div class="col s12 m4 center-align margin-bottom-md">
        <img class="responsive-img lr" src="../../images/lr-logo.png">
      </div>
      <div class="col s12 m4 center-align margin-bottom-md">
        <img class="responsive-img tps" src="../../images/thetpsfamily-logo.png">
      </div>
      <div class="col s12 m4 center-align margin-bottom-md">
        <img class="responsive-img cf4u" src="../../images/Cabinets-Fast-4U-Inc.png">
      </div>
    </div>
  </div>
</section>
